html {
    height: 100%;
}

body {
    background-color : #e9e9e9;

    position: relative;
    font-family: Montserrat!important;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
}

.bg-c-blue {
    background-color: #123245!important;
}

.c-blue {
    color: #123245!important;
}

.navbar-logo{
    width: 90px;
    height:85px;
}

.footer-logo{
    width: 90px;
    height:85px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    text-transform: uppercase;
}

.fConnexion .form-control {
    width: 50%;
    margin: auto;
}

.form-control {
    width: 50%;
    margin: auto;
}

.carousel-item img {

    max-height: 600px;

}
.carousel-inner {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.card:hover{
    transition: all 0.2s ease-out;
    transform: scale(1.03);
}


.carousel-caption.d-block{
    top:50%;
    transform: translateY(-50%);
    bottom:initial;
}

.FontCreuse{
    color: #ff000000;
    font-size: 50px;
    font-weight: 900;
    -webkit-text-stroke: 2px white;
    text-align: center;
    line-height: 50px;
    margin-top: 0px;"
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .w-xs-100 {
        width: 100% !important;
    }

    .w-xs-75 {
        width: 75% !important;
    }

    .w-xs-50 {
        width: 50% !important;
    }

    .w-xs-25 {
        width: 25% !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .w-sm-100 {
        width: 100% !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }

    .w-sm-50 {
        width: 50% !important;
    }

    .w-sm-25 {
        width: 25% !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    .w-md-100 {
        width: 100% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-25 {
        width: 25% !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .w-lg-100 {
        width: 100% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-25 {
        width: 25% !important;
    }


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .w-xl-100 {
        width: 100% !important;
    }

    .w-xl-75 {
        width: 75% !important;
    }

    .w-xl-50 {
        width: 50% !important;
    }

    .w-xl-25 {
        width: 25% !important;
    }

}



.car-col-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.car-col-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

.car-col-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.car-col-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

.car-col-5 {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
}

.car-col-6 {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
}